In [49]:
import pandas as pd

In [50]:
jira_df = pd.read_excel('Data.xlsx')

In [51]:
#The export contains 4 columns: 
#Summary: Its what the scrum master describes the story as. The JB number at the beginning is the project identifier.There is a format followed by all scrum masters. 
#Feature: The workstream which the Storypoint belongs to. RTR -> Record to report, STP -> Source to Pay etc
#Label: It is the phase of the project. DEV mean Development, MNS means Menu & Security, BRD mean Business Requirement Document
#Target Release Date: It is the estimated release date for the project to be deployed in Production.

jira_df

,Summary,Feature,Label,Target Release Date
0,JB276 - MNS - Payment Method Enhancement Vietnam,RTR,MNS,2023-07-22
1,JB276 - Dev1 - Payment Method Enhancement Vietnam,RTR,DEV,2023-07-22
2,JB276 - Dev 2 - Payment Method Enhancement Vie...,RTR,DEV,2023-07-22
3,JB2055 - BRD - Lot Mass Upload,DTW,BRD,2023-09-28
4,JB2408- FDD - Integrity Report,DTW,FDD,2023-08-15
5,JB39 - FAT - Negative Completions management,STP,FAT,2023-07-16
6,JB39 - UAT - Negative Completions management,STP,UAT,2023-07-16
7,JB39 - DEV - Negative Completions management,STP,DEV,2023-07-16
8,JB1661 - SDD - Bill of Material mass update,MTC,SDD,2023-10-05
9,JB4244 - TDD - Lot generation automation,MTC,TDD,2023-08-11
10,JB1798 - REL - Picking efficiency,DTW,REL,2023-07-14
11,JB2600 - RT - Inventory Count Report,STP,RT,2023-04-04
12,JB2771 - MNS - Issue Check report,DTW,MNS,2023-05-03
13,JB 2429 - FAT - Non-returnable packaging report,MTC,FAT,2023-05-12

In [52]:
#Created an empty dictionary and Changed the Column title from 'Summary' to 'JB'
# We dont need the feature column hence I didnt create a key for it. 

data = {
    'JB': [],
    'Label': [],
    'Target Release Date': []
}

In [53]:
#In this snipet, I am extracting only the JB number from the entire text from the Summary column and adding it to the 'JB' column in the Data dictionary.  

for index, row in jira_df.iterrows():
    # Extract the JB number from the Summary column
    jb_number = row['Summary'].split()[0]
    if jb_number.startswith('JB'):
        # Add the data to the dictionary
        data['JB'].append(jb_number)
        data['Label'].append(row['Label'])
        data['Target Release Date'].append(row['Target Release Date'])

In [54]:
data

{'JB': ['JB276',
  'JB276',
  'JB276',
  'JB2055',
  'JB2408-',
  'JB39',
  'JB39',
  'JB39',
  'JB1661',
  'JB4244',
  'JB1798',
  'JB2600',
  'JB2771',
  'JB'],
 'Label': ['MNS',
  'DEV',
  'DEV',
  'BRD',
  'FDD',
  'FAT',
  'UAT',
  'DEV',
  'SDD',
  'TDD',
  'REL',
  'RT',
  'MNS',
  'FAT'],
 'Target Release Date': [Timestamp('2023-07-22 00:00:00'),
  Timestamp('2023-07-22 00:00:00'),
  Timestamp('2023-07-22 00:00:00'),
  Timestamp('2023-09-28 00:00:00'),
  Timestamp('2023-08-15 00:00:00'),
  Timestamp('2023-07-16 00:00:00'),
  Timestamp('2023-07-16 00:00:00'),
  Timestamp('2023-07-16 00:00:00'),
  Timestamp('2023-10-05 00:00:00'),
  Timestamp('2023-08-11 00:00:00'),
  Timestamp('2023-07-14 00:00:00'),
  Timestamp('2023-04-04 00:00:00'),
  Timestamp('2023-05-03 00:00:00'),
  Timestamp('2023-05-12 00:00:00')]}

In [55]:
#Converted Data dictionary to a Dataframe

new_df = pd.DataFrame(data)
new_df

         JB Label Target Release Date
0     JB276   MNS          2023-07-22
1     JB276   DEV          2023-07-22
2     JB276   DEV          2023-07-22
3    JB2055   BRD          2023-09-28
4   JB2408-   FDD          2023-08-15
5      JB39   FAT          2023-07-16
6      JB39   UAT          2023-07-16
7      JB39   DEV          2023-07-16
8    JB1661   SDD          2023-10-05
9    JB4244   TDD          2023-08-11
10   JB1798   REL          2023-07-14
11   JB2600    RT          2023-04-04
12   JB2771   MNS          2023-05-03
13       JB   FAT          2023-05-12

In [56]:
#I have assigned an order to each project phase label with BRD being the first phase and REL (Release) being the last phase

label_to_rank = {'BRD': 1, 'FDD': 2, 'TDD': 3, 'SDD': 4, 'MNS': 5, 'DEV': 6, 'FAT': 7, 'UAT': 8, 'RT': 9, 'REL': 10}

In [57]:
#And now I have added a column in the dataframe assigning the rank order to each of the projects

new_df['Rank'] = new_df['Label'].replace(label_to_rank)
new_df

         JB Label Target Release Date  Rank
0     JB276   MNS          2023-07-22     5
1     JB276   DEV          2023-07-22     6
2     JB276   DEV          2023-07-22     6
3    JB2055   BRD          2023-09-28     1
4   JB2408-   FDD          2023-08-15     2
5      JB39   FAT          2023-07-16     7
6      JB39   UAT          2023-07-16     8
7      JB39   DEV          2023-07-16     6
8    JB1661   SDD          2023-10-05     4
9    JB4244   TDD          2023-08-11     3
10   JB1798   REL          2023-07-14    10
11   JB2600    RT          2023-04-04     9
12   JB2771   MNS          2023-05-03     5
13       JB   FAT          2023-05-12     7

In [58]:
#Here we sort all the project according to their ranks

new_df.sort_values(by="Rank")

         JB Label Target Release Date  Rank
3    JB2055   BRD          2023-09-28     1
4   JB2408-   FDD          2023-08-15     2
9    JB4244   TDD          2023-08-11     3
8    JB1661   SDD          2023-10-05     4
0     JB276   MNS          2023-07-22     5
12   JB2771   MNS          2023-05-03     5
1     JB276   DEV          2023-07-22     6
2     JB276   DEV          2023-07-22     6
7      JB39   DEV          2023-07-16     6
5      JB39   FAT          2023-07-16     7
13       JB   FAT          2023-05-12     7
6      JB39   UAT          2023-07-16     8
11   JB2600    RT          2023-04-04     9
10   JB1798   REL          2023-07-14    10

In [59]:
# This is an important step. This is where, in case of a project having multiple phases, we keep the project having highest phase.
# For example, JB39 has 3 rows but the row that has highest phase is the one with UAT (rank 8). Hence we only consider UAT phase for JB39.
# Find the index of the row with the highest rank for each JB number
idx = new_df.groupby(['JB'])['Rank'].idxmax()

# Keep only the rows with those indices
df_highest_rank = new_df.loc[idx]

# Print the updated DataFrame
df_highest_rank = df_highest_rank.drop('Rank',axis=1)
print(df_highest_rank)

         JB Label Target Release Date
13       JB   FAT          2023-05-12
8    JB1661   SDD          2023-10-05
10   JB1798   REL          2023-07-14
3    JB2055   BRD          2023-09-28
4   JB2408-   FDD          2023-08-15
11   JB2600    RT          2023-04-04
1     JB276   DEV          2023-07-22
12   JB2771   MNS          2023-05-03
6      JB39   UAT          2023-07-16
9    JB4244   TDD          2023-08-11

In [61]:
# Export this data to a new csv file Cleaned_Data.csv

df_highest_rank.to_csv("Cleaned_Data.csv",index=False)